<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <title>Registration Page</title>
</head>

<body>
    <header th:insert="fragments/adminfragments.html :: header"> </header>
    <div class="container" style="width: 50%">
        <br/>
        <br/>
        <h2>Parent Registration</h2>
        <br/>
        <br/>
    <form action="#" th:action="@{/parent/}" th:object="${parent}" method="POST" class="form-horizontal">
        <input id="parentId" type="hidden" th:value="${parent.parentId}"/>  
        <table class="table table-striped">
        <tbody>
            
            <tr>
              <td align='center'>First Name</td>
              <td><input type="text" name = "firstName" th:field="${parent.firstName}" 
              pattern="[A-Za-z]{1,10}" title="Letters only"/></td>
           <tr>
               <td align='center'>Last Name</td>
               <td><input type="text" th:field="${parent.lastName}" 
               pattern="[A-Za-z]{1,10}" title="Letters only"/></td>
            </tr>
           <tr>
              <td align='center'>Email</td>
              <td><input type="email" th:field="${parent.email}"/> </td>
           </tr>
           <tr>
              <td align='center'>Password</td>
              <td><input type="password" id="password" th:field="${parent.password}" 
              pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,10}$"
              title ="Passwords must contain 6 to 10 characters, including uppercase, lowercase letters and numbers" /> </td>
           </tr>
            <tr>
              <td align='center'>Confirm Password</td>
              <td><input type="password" id="confirm_password" th:field="${parent.confirmPassword}" /> </td>
           </tr>
           <tr>
              <th/>
              <td><button id="submitBtn" type="submit" class="btn btn-primary mt-3">Submit</button>&emsp;
              <button id="submitBtn" type="submit" class="btn btn-primary mt-3">Cancel</button></td>
          </tr>
          </tbody>
        </table>
  </form>
  </div> 
  <div>
  	 <script>
  	var password = document.getElementById("password");
  	var confirm_password = document.getElementById("confirm_password");

	function validatePassword(){
  		if(password.value != confirm_password.value) {
    	confirm_password.setCustomValidity("Passwords Didn't Match");
  		} else {
    		confirm_password.setCustomValidity('');
  		}
		}

		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
  	</script>
  </div>
</body>
</html> 


    
