<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<header th:insert="fragments/adminfragments.html :: header"> </header>
	<div class="container">
		<h2 align="left">Registration successful!</h2>
		<div class="col-sm-6">
			<table class="table table-striped">
				<tbody>

					<tr>
						<td align='center'><button onclick="goBack()">Go
								back to registration</button></td>
						<td>
							<form action="#" th:action="@{/register_student}"
								th:object="${student}" method="GET">
								<input type="submit" value="Go to student registration" />
							</form>
						</td>
					</tr>
					</table>
					</div>
				</div>	
	<script>
    function goBack() {
      window.history.back();
    }
</script>
</body>
</html>