<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send Message</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="fragments/adminfragments.html :: header"></header>


<div class="container" style="width: 50%">
    <br>
    <h1>View Message</h1>
    <br>
     <input id="messageId"  th:value="${message.messageId}"/>
     
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>From</th>
            <td th:text="${message.messageFrom}"></td>
        </tr>
        <tr>
            <th>Subject</th>
            <td th:text="${message.messageSubject}"></td>
        </tr>
        <tr>
            <th>Message</th>
            <td th:text="${message.messageBody}"></td>
        </tr>
        <tr>
            <td><button id="submitBtn" type="submit" class="btn btn-primary">Reply</button>&emsp;
            </tr>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#submitBtn').click(function(){
            var messageId = $("#messageId").val();
            console.log(messageId + '/')
            window.location.href= 'reply/' + messageId + '/';
        });
    });
        </script>

</body>
</html>